/*
 * This code and all components (c) Copyright 2019-2020, Wowza Media Systems, LLC. All rights reserved.
 * This code is licensed pursuant to the BSD 3-Clause License.
 */
/* 
 html {
  height: 100%;
}

body {
  background: black;
  background-position: bottom center, top center;
  background-repeat: no-repeat;
  height: 100%;
} */
   
#player-video{
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}